name: Lint Go

on: 
  push: 
    branches:
      - main

jobs: 
  lint: 
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: golangci/golangci-lint-action@master
        with:
          path: ./src/github.com/${{ github.repository }}
          # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
          version: v1.27
          github-token: ${{ secrets.GITHUB_TOKEN }}
